:root {
    --background-color: rgb(0, 0, 0);
    --background-padding: 8px 8px 8px 8px;
    --border-color: rgb(255, 255, 255);
    --border-image: url();
    --border-width: 2px;
    --border-radius: 0px;
    --border-shadow: 0;
    --font-color: rgb(255, 255, 255);
    --font-color-shadow: 0;
    --font-color-fail: rgb(245, 0, 87);
    --font-color-fail-shadow: 0;
    --font-color-success: rgb(33, 150, 243);
    --font-color-success-shadow: 0;
    --font-size: 1.5rem;
    --image-radius: 0%;
    --width: 500px;
    --line-clamp: 50;
}

/* OBS */
body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

/* 入力欄 */
form,
/* ヘッダー削除 */
header,
/* 入力欄などの下部 */
.sc-cOFTSb.beEsSA>div:nth-child(2),
/* 編集マーク */
.sc-efBctP.enUvgq,
/* スクロールバー */
::-webkit-scrollbar {
    display: none !important;
}

/* 水平線 */
hr{display: none;}

/* チャット全体 */
.MuiPaper-root{
    background-color: transparent;
    width: var(--width)!important;
}

/* チャットの左ボーダー */
.MuiDrawer-paperAnchorDockedRight {
    border: none;
}

/* チャット全体を左に寄せる */
.MuiDrawer-paperAnchorRight{
    left:0;
    right:auto;
}

/* 各チャット設定 */
.MuiListItem-root{
    padding: var(--background-padding);
    background: var(--background-color);
    border: solid var(--border-width) var(--border-color);
    border-radius: var(--border-radius);
    border-image: var(--border-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: var(--border-shadow);
    align-items: center;
}

/* チャット表示数 */
.MuiList-root>div:nth-child(1)>div>div>div {
    display: none;
}
.MuiList-root>div:nth-child(1)>div>div>div:nth-last-child(-n+3) {
    display: block!important;
}

/* 立ち絵部分*/
.MuiListItemAvatar-root>div {
    background: transparent;
    border-radius: var(--image-radius);
}
.MuiListItemAvatar-alignItemsFlexStart {
    margin: 0px;
}

/* キャラ名と打刻 */
.MuiListItemText-primary {
    display: block;
}

/* テキスト部分*/
.MuiListItemText-root{
    margin: 0px;
    overflow: hidden;
} 

/*
p.MuiTypography-root,
.MuiTypography-colorTextSecondary {
    color: var(--font-color);
    text-shadow: var(--font-color-shadow);
}
p.MuiTypography-root {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
}
*/

/* フォントサイズ */
.MuiTypography-body2 {
    font-size: var(--font-size)
}
/* フォントカラー */
.MuiTypography-colorTextPrimary,
.MuiTypography-caption {
    color:var(--font-color);
    text-shadow: var(--font-color-shadow);
}
/* ダイスロール成功カラー */
.MuiTypography-colorPrimary{
    color:var(--font-color-success);
    text-shadow: var(--font-color-success-shadow);
}
/* ダイスロール失敗カラー */
.MuiTypography-colorSecondary{
    color:var(--font-color-fail);
    text-shadow: var(--font-color-fail-shadow);
}